<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jiyun.com.lovepet">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".api.App"
        android:allowBackup="true"
        android:icon="@mipmap/pet_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.BaseActivity" />
        <activity android:name=".ui.wallet.activity.MyWalletActivity" />
        //个人信息
        <activity android:name=".ui.personal.activity.BingPhoneActivity" />
        <activity android:name=".ui.pet.activity.TiaokuanActivity" />
        <activity android:name=".ui.personal.activity.LoginActivity" />
        <activity android:name=".ui.personal.activity.RegisterActivity" />
        <activity android:name=".ui.personal.activity.ToolbarActivity" />
        <activity android:name=".ui.personal.activity.WeChatActivity" />
        <activity android:name=".ui.personal.activity.PersinalInfoActivity" />

        <activity android:name=".ui.personal.activity.QQActivity" />
        <activity android:name=".ui.personal.activity.WeiChatActivity" />

        <activity android:name=".ui.New_function_Activity" />
        <activity android:name=".ui.pet.activity.AboutHuanHuan" />
        <activity android:name=".ui.pet.activity.Need_to_knowActivity" />
        //我的宠物
        <activity android:name=".ui.pet.activity.MyPetActivity" />
        <activity android:name=".ui.pet.activity.MapActivity" />
        <activity android:name=".ui.pet.activity.SetActivity" />
        <activity android:name=".ui.pet.activity.PsActivity" />
        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CityPicker.NoActionBar"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0307826752ac91c535c98381942d74aa">
            //开发者申请的key</meta-data>

        <activity android:name=".ui.pet.activity.AddPetActivity" />
        <activity android:name=".ui.pet.activity.PetkindActivity" />
        <activity android:name=".ui.order.activity.MyOrderActivity" />
        <activity android:name=".ui.pet.activity.NickNameActivity" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0307826752ac91c535c98381942d74aa">
            //开发者申请的key</meta-data>

        <activity android:name=".ui.pet.activity.PetWeigthActivity" />
        <activity android:name=".ui.pet.activity.SeclectorDateActivity" />
        <activity android:name=".ui.pet.activity.OrderActivity" />
        <activity android:name=".ui.pet.activity.JiYangShiXiangQing" />
        <activity android:name=".ui.YuYueSuccess" />
        <activity android:name=".ui.wallet.activity.PetInsert"></activity>
        <activity android:name=".ui.adapter.activity.FosterApplyActivity" />
        <activity android:name=".ui.pet.activity.Pet_MianYiActivity" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106541335" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <application>
            <activity android:name="com.tencent.plus.ImageActivity" />
        </application>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zz.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.personal.activity.ForgotPwdActivity" />
        <activity android:name=".ui.personal.activity.NameActivity" />
        <activity android:name=".ui.personal.activity.DataActivity" />
        <activity android:name=".ui.personal.activity.ConAddActivity"></activity>
        <activity android:name=".ui.foster.activity.FosterActivity">

        </activity>


    </application>

</manifest>